
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <h1><% name %></h1>
    <%- include('./partials/nav.ejs')%>
   
     <div class="blogs content">
        <h2> All blogs</h2>
        <h1><%=  name %> </h1>
     </div>
     <div>
        <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid at esse ad incidunt quis modi delectus possimus earum sequi unde voluptate dolorem, quia dolor doloremque repellat deserunt voluptas. Inventore, itaque!
    </h1>
   <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita animi laborum veritatis est veniam in consequuntur aut sequi magnam exercitationem odit eius reprehenderit ab esse iste consectetur eaque possimus voluptatibus soluta, dolore excepturi repellat omnis fugit? Rerum, beatae. Voluptate quia quisquam quam blanditiis natus libero molestiae quo harum temporibus maxime rerum debitis eum, provident ducimus quidem ad minus. Veritatis, quasi blanditiis! Temporibus, ipsam qui vitae officia alias maxime incidunt voluptas veritatis corporis tenetur, quod debitis aliquid? Nobis et debitis itaque odit eaque aut commodi soluta perferendis. Sapiente velit a dolor fuga repellat! Aspernatur ratione esse maxime officiis culpa veritatis assumenda.</h1>
   <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, quis dignissimos similique ipsa esse nesciunt ipsum voluptates amet veritatis sequi.</h1>

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quibusdam id dicta maxime, quo incidunt in modi soluta ad perspiciatis?</p>
     </div>
     
</body>
</html>
<%- include('partials/footer.ejs') %>